DAEMON_ARGS="                                                               \
--bind-address=0.0.0.0                                                      \
--secure-port=443                                                           \
--etcd-servers={{ kube_apiserver_etcd_servers | join(",") }}                \
--etcd-cafile={{ kube_apiserver_etcd_cafile }}                              \
--etcd-keyfile={{ kube_apiserver_etcd_keyfile }}                            \
--etcd-certfile={{ kube_apiserver_etcd_certfile }}                          \
--service-cluster-ip-range={{ kube_apiserver_service_net }}                 \
--v=2                                                                       \
--allow-privileged=true                                                     \
--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,Priority,ResourceQuota,NodeRestriction \
--tls-cert-file={{ kube_apiserver_certfile }}                               \
--tls-private-key-file={{ kube_apiserver_keyfile }}                         \
--kubelet-certificate-authority={{ kube_apiserver_kubelet_cafile }}         \
--kubelet-client-certificate={{ kube_apiserver_kubelet_certfile }}          \
--kubelet-client-key={{ kube_apiserver_kubelet_keyfile }}                   \
--client-ca-file={{ kube_apiserver_client_ca }}                             \
--authorization-mode=RBAC,Node                                              \
--service-account-signing-key-file={{ kube_apiserver_cafile | dirname }}/service_account_key.pem \
--service-account-key-file={{ kube_apiserver_cafile | dirname }}/service_account_cert.pem \
--service-account-issuer=kubernetes                                         \
"
